# Dataset besar
*.csv

# Folder cache Python
__pycache__/
*.pyc
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Environment
.env
.venv/

# Charts
*.png

medallion_2024_pipeline.ipynb

*.json

copy.ipynb